{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Judson&display=swap" rel="stylesheet">
    <title>HubSpace</title>
    <link rel="stylesheet" href="{% static 'hubspace/css/style.css' %}">
</head>
<body class="default-background">


<nav class = "navbar">
    <div class="nav-logo">Hubspace</div>
    <ul class="nav-links">
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'hubspace:home' %}">Home</a> |
            {% else %}
                <a href="{% url 'hubspace:index' %}">Home</a> |
            {% endif %}  
        </li> 
    <li><a href="{% url 'hubspace:users' %}">Users</a> |</li>
    <li>Pages |</li>
    {% if user.is_authenticated %}
        <li>Messages |</li>
        <li><a href="{% url 'hubspace:profile_page' user.profile.id %}">My Profile</a></li>
        <li>
            <form method="POST" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
            </form>
        </li>
    {% else %}
        <li><a href="{% url 'users:login' %}">Login</a> |</li>
    {% endif %}
    </ul>
</nav>

{% block content %}
{% endblock content %}

</body>
</html>