{% extends "hubspace/base.html" %}
{% load static %}

{% block content %}

    <div class="profile-header">
        <img class="MainProfilePic" src="{{ profile.profilePicture.file.url }}">
            <a href="{% url 'hubspace:profile_pictures' profile.id %}">Change profile picture</a>


        <h2>{{profile.firstName}} {{profile.lastName}}</h2>
        <p>{{ profile.biography }}</p>
        


        <!--Follow button logic-->
        {% if request.user.profile != profile %}
            {% if user.profile in profile.followers.all %}
                <!-- Unfollow form -->
                <form method="POST" action="{% url 'hubspace:unfollow_profile' profile.id %}">
                    {% csrf_token %}
                    <button type="submit">Unfollow</button>
                </form>
            {% else %}
                <!-- Follow form -->
                <form method="POST" action="{% url 'hubspace:follow_profile' profile.id %}">
                    {% csrf_token %}
                    <button type="submit">Follow</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    
  


    <h3>Followers:</h3>
    <ul>
    {% for follower in profile.followers.all %}
        <li><a href="{% url 'hubspace:profile_page' follower.id %}">{{ follower.firstName }} {{ follower.lastName }}</a></li>
    {% endfor %}
    </ul>


    <a href = "{% url 'hubspace:profile_pictures'}" >
        <h3>Following:</h3>
    </a>
    
    <ul>
    {% for following in profile.following.all %}
        <li><a href="{% url 'hubspace:profile_page' following.id %}">{{ following.firstName }} {{ following.lastName }}</a></li>
    {% endfor %}
    </ul>

    <div class="profile-pictures=container">    
        <h3>Pictures</h3>
        {% for picture in profile.pictures.all %}
            <div class="profile-pictures-instance">            
                <img src="{{ picture.file.url }} " alt="{{ picture.caption }}">
                <p>{{ picture.caption }}</p>
            </div>
        {% endfor %}
    </div>




    <h3>Posts</h3>
    {% if user.profile == profile %}
        <a href="{% url 'hubspace:new_post' profile.id %}">New Post</a>
    {% endif %}

    <ul>
        {% for post in posts %}
            <li>
                <strong>{{ post.author }}</strong> 
                {% if post.picture %}
                    <img src= "{{ post.picture.file.url }}" alt={{post.picture.caption}}>
                    <p>{{ picture.caption }}</p>
                {% endif %}
                {{ post.text }}
                <small>{{ post.datepublished}}</small>
                {% if user.is_authenticated %}
                    <a href="{% url 'hubspace:new_comment' profile.id post.id %}">Comment</a>
                {% endif %}

                <h4>Comments:</h4>
                <ul>
                    {% for comment in post.comments.all %}
                        <li> {{comment.author.firstName }} : {{ comment.text }} <small>{{ comment.datepublished }}</small></li>
                    {% empty %}
                        <li>No comments yet</li>
                    {% endfor %}
                </ul>

            </li>
            
        {% empty %}
            <li>No posts yet</li>
        {% endfor %}
    </ul>


    

{% endblock content %}